@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
h1{
  //color: brown;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 120px;
}
.close{color: skyblue;}
.items{color: gray;}

.container{
  background-color: rgb(214, 214, 211);
  width: 800px;
  height: 700px;
 
}

.close {
  display: none;
}

li:hover .close{
  display: block;
}